.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body { padding-top: 70px; }

body {
  background-color: #ff441d;
  -webkik-animation: color 5s ease-in 0s infinite alternate running;
  -moz-animation: color 5s linear 0s infinite alternate running;
  animation: color 4s linear 0s infinite alternate running;
  margin: auto;
}

@-webkit-keyframes color{
  100% { background-color: #2ecc71;}
}
@-moz-keyframes color {
  100% { background-color: #2ecc71;}
}
@keyframes color {
  100% { background-color: #7625b6;}
}
